body * {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

label {
    display: block;
    font-family: 'Architects Daughter', cursive;
}

input,
label {
    margin: .4rem 0;
}

.container {
    border: 1px solid #333333;
    width: 700px;
    padding: 25px;
}

.block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

#block-right {
    margin: 0 20px;
}

.filter {
    display: flex;
}

.filter-left-block {
    display: flex;
    align-items: center;
}

.filter-left-block div {
    margin: 0 50px 0 50px;
}

.filter__title:after {
    content: '\2191\2193';
}
.filter__date:after {
    content: '\2191\2193';
}

#add-note-btn {
    width: 200px;
    padding: 10px;
}

.notes .item {
    border: 1px solid #333333;
    margin: 20px 0;
    width: 250px;
    padding: 5px
}

.block-right__block {
    border: 1px solid #333333;
    padding: 20px;
}

#search {
    padding: 5px;
    width: 300px;
}

#title {
    width: 60%;
}

textarea {
    width: 300px;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.save-btn {
    width: 150px;
    padding: 5px 0;
}
